.table-container {
  overflow-y: scroll;
  height: 67vh;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(167, 166, 166);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 62, 62);
  }

  table {
    thead {
      display: flex;
      width: 100%;
      position: sticky;
      top: 0;
    z-index: 9;
    background-color: #fff;
      tr {
        display: flex;
        align-items: center;
        height: 50px;
        border: 1.5px solid #e0e0e0;
        th {
          width: 200px;
          padding: 6px;
          border: 1px solid #f8f8f8;
          font: 600 14px/24px "Montserrat", sans-serif;
          color: #333333;
          border: 1px solid #e0e0e0;
          border-radius: 2px;
          text-align: left;
        }
      }
    }
  }
  tbody {
    display: grid;
    position: relative;
    width: 100%;

    tr {
      &:nth-child(odd) {
        background-color: #f2f2f2;
      }

      &:nth-child(even) {
        background-color: #fff;
      }

      td {
        width: 200px;
        padding: 6px;
        border: 1px solid #f8f8f8;
        font: 500 13px/24px "Montserrat", sans-serif;
        color: #333333;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        text-align: left;
      }
    }
  }
}
