.table-container {
  height: calc(100vh - 188px);
  display: flex;
  flex-direction: column;
  

  &.addemployee {
    height: calc(100vh - 234px);
  }
  .action-header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4px;
  
    .sort-action {
      display: flex;
      align-items: center;
      gap: 10px;

      .search-box {
        padding: 8px;
        color: #787878;
        width: 260px;
        border-radius: 7px;
        border: none;
      
        height: 40px;
        background-color: #F7FBFF;
        font: 700 12px/14.52px "Inter", sans-serif;
      }
     
     
    }
    .user-action {
      display: flex;
      align-items: center;
      gap: 10px;
      .converted-info{
        display: flex;
        gap: 1px;
        flex-direction: column;
        align-items: flex-start;
     
        .heading{
       color: #000000;
       font: 700 16px/19.36px "Inter", sans-serif;
        }
        .info{
         color: #A5A5A5;
         font: 400 13px/15.36px "Inter", sans-serif;
        }
      }
      .download {
        color: blue;
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid blue;
        margin-right: 6px;
      }
     
    }
  }

  .table-wrapper {
    overflow-y: scroll;
    height: calc(100% - 60px);

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #ffede1;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #FF8678;
      
    }
    table {
      thead {
        display: flex;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 9;
        background-color: #fff;
        border-top: 1px solid #EEEEEE;
        tr {
          display: flex;
          align-items: center;
          height: 50px;
        
          th {
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
           
           border-right: 1px solid #EEEEEE;
            font: 500 12px/14.52px "Inter", sans-serif;
            color: #7D7D7D;
          
            border-radius: 2px;
            text-align: left;
          }
        }
      }
    }
    tbody {
      display: grid;
      position: relative;
      width: 100%;

      tr {
        &:nth-child(odd) {
          background-color: #F1F9FF;
        }

        &:nth-child(even) {
          background-color: #fff;
        }

        td {
          width: 200px;
          min-height: 64px;
          padding: 10px 2px;
        
          font: 400 12px/14.52px "Inter", sans-serif;
          color: #000000;
        
       
        }
      }
    }
  }
}
